<!-- gameshow/templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    What game room would you like to enter?<br>
    <input id="room-name-input" type="text" size="100"><br>
    <input id="player" type="radio" name="role">
    <label for = "player"> Player</label>
    <input id = "host" type="radio" name="role">
    <label for="host">Host </label> 
    <input id="room-name-submit" type="button" value="Enter">
    <h3 id="alert" style="color:red"></h3>
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            if (document.getElementById('host').checked){
                window.location.pathname = '/game/' + roomName + '/host';
            }else if (document.getElementById('player').checked){
                window.location.pathname = '/game/' + roomName + '/user';
            }else {
                document.getElementById("alert").innerHTML = "Must choose a role!"
            }
    };
    </script>
</body>
</html>